# Local Terraform directories
/.terraform/

# Terraform state files
terraform.tfstate
terraform.tfstate.backup

# Crash log files
crash.log

# Extension for CLI customizations
.terraformrc
.terraform.d/

# Local override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore anything ending in .tfvars
# These files are for variables and often contain sensitive data like passwords
*.tfvars

# Ignore any generated JSON files, which can be used for plan output or for preventing sensitive output
*.tfplan
*.tfout

# Ignore files related to Terraform logs
*.log
*.tf-log

# Ignore editor specific files
*.swp
